body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-transform: none;

  background-color: #849d8f;
background-position: top center;
background-repeat: no-repeat;
}

a {
  text-decoration: underline;
}

.main-header-logo {
  position: relative;
  left: 27px;
  top: 9px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-navigation {
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.site-navigation > li {
  position: relative;
  display: inline-block;
}

.user-navigation > li {
  position: relative;
  display: inline-block;
}

.site-navigation,
.user-navigation,
.catalog-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.catalog-navigation {
  position: absolute;
  display: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: #323232;
  background-color: #f7f6f3;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  text-decoration: none;
  color: #323232;
  background-color: #f7f6f3;
  /* border-radius: 50px;  */
}

li:hover .catalog-navigation {
  display: block;
  color: #323232;
}


.timeandphone {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}

.phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.features-list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section.features {
  background-color: #e6d6ae;
  background-image: url("../img/bg-wufer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.features h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features p {
  font-size: 16px;
  line-height: 22px;
}

.blog {
  background-color: #ffffff;
  background-image: url("../img/bg-strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.subscribe {
  background-color: #f8f7f4;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.footer-social,
.about {
  list-style: none;
}

.twitter {
  background-color: #c2cec7;
  background-image: url("../img/twitter.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.about-link {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.copyright p,
.copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.catalog a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

h1.title-catalog {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.ice-cream-item p {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

.kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

.ice-cream-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

a.link:hover,
a.link:focus,
a.link:active {
  color: #ffbc9e;
}

a.white-link:hover,
a.white-link:focus,
a.white-link:active {
color: #e84d37;
}

.basket-main {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}

.basket-main .grey {
  color: #999999;
}

.basket-all {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;
}

.login-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

button.button {
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-color: #e84d37;
background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}
